<html class="no-js ng-scope" ng-app="appartamentipattimarinaApp"><!--<![endif]--><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="Case vacanza, Appartamenti Vacanza Patti Marina, Mare fantastico e spiaggie libere. Offerte vantagiose a basso prezzo per famiglie gruppi organizzati e  ragazzi alla ricerca del divertimento">
  <meta name="fragment" content="!">
  <meta name="prerender-status-code" content="404">
<meta name="prerender-status-code" content="302">
<meta name="prerender-header" content="Location: http://www.google.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

  <!-- endbuild -->
</head>
<body data-status="ready" class="" style="">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->





      <div class="navbar-wrapper">
        <div class="container">
          <div class="navbar navbar-inverse navbar-static-top">

            <div class="navbar-header">

             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-home fa-1x"></i></a>


          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li><a href="/#!/vacanza"><i class="fa fa-picture-o fa-1x"></i> Foto</a></li>
             <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i> Dintorni </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mare e Spiaggie</a></li>
                  <li><a href="#">Isole Eolie</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Tindari Storia e Religione</a></li>
                  <li><a href="#">Villa Romana</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Patti</a></li>
                </ul>
              </li>
-->
              <li><a href="/#!/tariffe"><i class="fa fa-money fa-1x"></i> Offerte Tariffe</a></li>
              <li><a href="/#!/raggiungici"><i class="fa fa-map-marker fa-1x"></i> Raggiungici</a></li>
              <li><a href="/#!/contatti"><i class="fa fa-comment-o fa-1x"></i> Contatti</a></li>
            </ul>
          </div>

        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->

<!-- Carousel
  ================================================== -->
   <div class="carousel slide" ng-show="!showCaousel">
   </div>
   
  <div id="myCarousel" class="carousel slide ng-hide" ng-show="showCaousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
      <li data-target="#myCarousel" data-slide-to="5" class=""></li>
      <li data-target="#myCarousel" data-slide-to="6" class=""></li>
    </ol>

    <div class="carousel-inner">

     <div class="item active">
      <img src="/images/slides/gazebo.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Appartamenti Patti Marina </h1>
          <h2>Gazebo Solarium Piscina</h2>
        </div>
      </div>
    </div>

     <div class="item">
      <img src="/images/slides/residence.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Appartamenti Patti Marina</h1>
          <h2>Il Residence</h2>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/images/slides/piscina-notte.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Residence notturno</h1>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/images/slides/golfo-patti.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Golfo di Patti</h1>
        </div>
      </div>
    </div>




    <div class="item">
      <img src="/images/slides/isole-eolie-marinello.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Riserva Naturale Marinello</h1>
        </div>
      </div>
    </div>


    <div class="item">
      <img src="/images/slides/tindari-anfiteatro.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Anfiteatro Tindari </h1>
        </div>
      </div>
    </div> 
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
 

<!-- Add your site or application content here -->
<!-- ngView:  --><div ng-view="" class="ng-scope"> <div class="container ng-scope">
 

  <div class="col-md-4"><h2>Contattaci</h2>
    <h5>Richiedi la disponibilità presso il nostro Residence</h5>


     <div class="list-group">
     
<a class="list-group-item list-group-item-success" href="tel:+393280132900">
          <i class="fa fa-mobile fa-2x"></i> Telefono Cellulare +39 328 0132900 
      </a>



      <a class="list-group-item list-group-item-success" href="tel:+390941361137">  
        <i class="fa fa-phone fa-2x"></i>
        Telefono Fisso +39 0941 361137
      </a>

      

      <a class="list-group-item list-group-item-success" href="mailto:segreto.nicolo@gmail.com">
        <i class="fa fa-envelope fa-2x"></i>
        Email segreto.nicolo@gmail.com
      </a>

    <address class="list-group-item list-group-item-success">
   
  <i class="fa fa-map-marker fa-2x"></i> <strong>Appartamenti Patti Marina<br>
     98066  Via Agliastri 10, <br>
     Patti, Messina, Italia</strong>


  </address>
    </div>
     </div>
 

  <div class="col-md-8"><h2>Richiesta informazioni</h2>

<div class="alert alert-success ng-hide" ng-show="success"><i class="fa fa-check-square-o fa-4x"> </i> Messaggio inviato con successo. Vi risponderemo al più presto.</div>
    <form ng-submit="send()" role="form" ng-show="!success" class="ng-pristine ng-invalid ng-invalid-required">


      <div class="form-group">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="contact.nome" placeholder="Nome" required="">
      </div>
 
      <div class="form-group">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="contact.cognome" placeholder="Cognome" required="">
      </div>


     <div class="form-group">
      <div class="input-group">
       <span class="input-group-addon">@</span>
       <input type="email" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-model="contact.email" placeholder="Email" required="">
     </div>     
    </div>  

    <div class="form-group">
        <input type="text" class="form-control ng-pristine ng-valid" ng-model="contact.citta" placeholder="Città">
      </div>


      <div class="form-group">
        <input type="number" class="form-control ng-pristine ng-valid ng-valid-number" ng-model="contact.numeroOspiti" placeholder="Numero ospiti">
      </div> 

     <div class="form-group">
       <textarea maxlength="1000" cols="25" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="contact.messagio" placeholder="Messaggio" required=""> </textarea>  
     </div>  

      
   

     <div class="input-group">  
       <button class="btn btn-default btn " ng-click="update(user)">Invia Richiesta</button>
     </div>


   </form>

 </div>


 <div class="row"><div class="google-map"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Via+Agliastri+10,Patti,ME&amp;aq=0&amp;sll=38.149885,14.964258,17&amp;sspn=38.149885,14.964258,17&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Agliastri+10,Patti,ME&amp;ll=38.149885,14.964258,17&amp;spn=0.01628,0.028238&amp;z=16&amp;iwloc=A&amp;output=embed" frameborder="0" width="100%" height="300" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
  <p>&nbsp;</p>
  <div class="spacer"></div> </div>
</div>




 


</div>
<!-- FOOTER -->

 <hr class="featurette-divider">
 <footer id="footer">

 

<div class="row">

<div class="col-md-3 text-center">
   <a class="btn" target="_blank" href="https://www.google.it/maps/place/Via+Agliastri,+10/@38.149885,14.964258,17z/data=!3m1!4b1!4m2!3m1!1s0x13169cf56d0281cd:0xa6ed8fc3e1e9d03c">
     <i class="fa fa-map-marker fa-3x"></i>
     <h4>Via Agliastri 10, Patti, Me</h4>
     <span>Indirizzo</span>
   </a>
 </div>

<div class="col-md-3 text-center">
      <a class="btn" href="tel:+393280132900">
    <i class="fa fa-mobile fa-3x"></i>
    <h4>+39 328 0132900</h4>
    <span>Telefono Cellulare</span>
  </a>

</div>

<div class="col-md-3 text-center">
    <a class="btn" href="tel:+390941361137">
  <i class="fa fa-phone fa-3x"></i>
  <h4>+39 0941 361137</h4>
  <span>Telefono Fisso</span>
</a>
</div>

<div class="col-md-3 text-center">
  <a class="btn" href="mailto:segreto.nicolo@gmail.com">
    <i class="fa fa-envelope fa-3x"></i>
    <h4>segreto.nicolo@gmail.com</h4>
    <span>Email</span>
  </a>
</div>



<div class="col-md-12 text-center">
<br>
<br>
<br>
<br>
<br>
<br>
Copyright © 2014  appartamentipattimarina.com
</div>

 
</div> 




  
</footer> 

<!-- /.container -->








<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52672032-1', 'auto');
  ga('send', 'pageview');

</script>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/vacanza.js"></script>
<script src="scripts/controllers/tariffe.js"></script>
<script src="scripts/controllers/raggiungici.js"></script>
<script src="scripts/controllers/contatti.js"></script>
<script src="scripts/controllers/mare-spiaggia.js"></script>
<script src="scripts/controllers/tindari.js"></script>
<script src="scripts/controllers/isole-eolie.js"></script>
<script src="scripts/controllers/villa-romana.js"></script>
<script src="scripts/controllers/comune-patti.js"></script>
<script src="scripts/directives/angular-lazy.js"></script>
<script src="scripts/services/mailservice.js"></script>

<!-- endbuild -->
<!-- livereload script -->
<script type="text/javascript">document.write('<script src="http://'
 + (location.host || 'localhost').split(':')[0]
 + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script><script src="http://127.0.0.1:35729/livereload.js?snipver=1" type="text/javascript"></script>


</body></html>
