
<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">



    <!-- START THE FEATURETTES -->


    <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/images/comfort-vacanza-patti-mare.jpg">
      <h2 class="featurette-heading">Casa Vacanza <span class="text-muted"><br/>Nello splendido Golfo di Patti</span></h2>
      <p class="lead"> Gli appartamenti  fanno parte di una struttura di recente costruzione (2009) e sorgono a 350mt dal mare e dalla marina di Patti. 
           </p>
        <p class="lead">I  sette appartamenti sono tutti completamente arredati e dotati di aria condizionata, tv, cucine accessoriate, ampi terrazzi, da cui si gode una splendida vista sul golfo di Patti e sulle vicine isole Eolie .      </p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image img-circle pull-left" src="/images/spiaggia-patti-marina.jpg">
      <h2 class="featurette-heading">Tutti i Comfort</h2>
      <p class="lead"> Inoltre la struttura è dotata di lavanderie, ampio parcheggio privato ed un giardino a disposizione per i residenti. </p>
      <p class="lead">Da quest' anno inoltre, nel giardino antistante gli appartamenti sarà inaugurata la piscina.  </p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="/images/escursioni-patti-mare.jpg">
      <h2 class="featurette-heading">Escursioni <span class="text-muted">Isole Eolie</span></h2>
       <p class="lead">Si organizzano escursioni alle Isole Eolie a prezzi vantaggiosi per gli ospiti e, a richiesta  si prenotano  ombrelloni e sdraio a prezzi che si aggirano intorno a 10 euro per un ombrellone e due sdraio. 
       </p>
        <p class="lead">Patti inoltre offre ampie zone di spiagge sabbiose completamente libere.</p>
    </div>