  <div class="container">

    <div class="featurette row">
    
    <h2 class="featurette-heading col-md-12">Casa Vacanza <span class="text-muted">Patti Marina</span>

    </h2>
      

      <img class="featurette-image img-circle pull-right col-md-6" src="/images/comfort-vacanza-patti-mare.jpg">


      <p class="well lead  col-md-5"> 

 
  
Gli appartamenti vacanza Patti Marina fanno parte di una struttura di recente costruzione (2009) e sorgono a circa 350 metri dal livello del mare non che dall'omonima cittadina di marina di Patti. 
<br>
   
  I  sei appartamenti sono tutti completamente arredati e dotati di aria condizionata, tv, internet wifi, cucine accessoriate, ampi terrazzi, da cui si gode una splendida vista sul golfo di Patti e sulle vicine isole Eolie .   
 
        </p>
    </div>

 
    <div class="featurette row">
      <h2 class="featurette-heading col-md12">Tutti i Comfort</h2>

      <img class="featurette-image img-circle pull-left col-md6" src="/images/spiaggia-patti-marina.jpg">
      
      <p class="lead well col-md5"> Ogni appartamento della casa vacanza è dotato di lavatrice autonoma, di un giardino con solarium e di un ampio parcheggio privato.

        <br>
      Inoltre da  giugno a settembre nella struttura  si potrà usufruire della meravigliosa piscina del residence. 
   <br>

      Tutto questo è compreso nel prezzo del vostro soggiorno.<br>

</p>
    </div>
 
    <div class="featurette row">
      <h2 class="featurette-heading col-md12">Escursioni <span class="text-muted">Isole Eolie</span>

      </h2>
      
      <img class="featurette-image img-circle pull-right" src="/images/galleria/Strand-Meer.jpg">
      <p class="lead well col-md5">Si organizzano escursioni alle Isole Eolie a prezzi vantaggiosi per gli ospiti e, a richiesta  si prenotano  ombrelloni e sdraio a prezzi che si aggirano intorno a 10 euro per un ombrellone e due sdraio. 
      
<br>

      Patti inoltre offre ampie zone di spiagge sabbiose completamente libere.
    <br>
      Buona Vacanza al Mare,<BR>
      Da casa vacanze Appartamenti Patti
      </p>
    </div>

  </div>