 <div class="container">
  <div class="col-md-12"><div class="google-map"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Via+Agliastri+10,Patti,ME&amp;aq=0&amp;sll=38.149885,14.964258,17&amp;sspn=38.149885,14.964258,17&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Agliastri+10,Patti,ME&amp;ll=38.149885,14.964258,17&amp;spn=0.01628,0.028238&amp;z=16&amp;iwloc=A&amp;output=embed" frameborder="0" width="100%" height="300" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
  <p>&nbsp;</p>
  <div class="spacer"></div> </div>




<div class="row">
<div class="col-md-6">
<h2 class="featurette-heading"><span class="text-muted"> Auto  </span></h2>
	<p class="lead">   Autostrada A20 con direzione Messina-Palermo, uscita di Patti. 
	<br> Procedi in direzione nordovest  su Uscita Patti Strada a pedaggio 26 m 2. Prosegui dritto Strada a pedaggio parziale 150 m 3. Svolta a sinistra verso Via Kennedy/SS113 3,0 km 4. <br>Svolta a destra in Via Kennedy/SS113  140 m 5. Svolta a destra per rimanere su Via Kennedy/SS113 450 m 6.<br> Prendi la 1a a destra in corrispondenza di Via Roccone 280 m 7. Svolta a destra in Via Agliastri 130 m 8. Prendi la 2a a destra 150 m 9. Prendi la 3a a destra 62 m Via Ferriato   43 D  </p>
</div>
 

<div class="col-md-6">
	<h2 class="featurette-heading"><span class="text-muted"> Aereo  </span></h2>
	<p class="lead">  Aeroporto di Palermo Servizio autobus dall'aeroporto alla stazione ferroviaria di Palermo. Seguire le indicazioni "In treno". Aeroporto di Catania Servizio autobus dall'aeroporto alla stazione ferroviaria di Catania. Seguire le indicazioni "In treno". Aeroporto di Reggio Calabria Servizio autobus dall'aeroporto all'imbarcadero di Reggio Calabria. Aliscafo per Messina. Servizio autobus per la stazione ferroviaria di Messina. Seguire le indicazioni "In treno". </p>
</div>

 
<div class="col-md-6">
	<h2 class="featurette-heading"><span class="text-muted">Nave  </span></h2>
	<p class="lead">  Porto di Palermo Navi da Cagliari, Genova e Napoli. Se a piedi servizio autobus dal porto alla stazione ferroviaria di Palermo. Seguire le indicazioni "In treno". Se in auto seguire le indicazioni "In automobile". </p>
</div>


<div class="col-md-6">
	<h2 class="featurette-heading"><span class="text-muted"> Treno  </span></h2>
	<p class="lead">  Da Messina Direzione Messina-Palermo. Fermate (a seconda del tipo di treno): Patti- San Piero Patti, Milazzo o Barcellona P.G. Da Palermo Direzione Palermo-Messina. Fermate (a seconda del tipo di treno): Patti-  San Piero Patti, Milazzo o Barcellona P.G.  Da Catania  Direzione Catania-Messina. Cambio treno a Messina. Direzione Messina- Palermo. Fermate (a seconda del tipo di treno): Patti- San Piero Patti,  Milazzo o Barcellona P.G </p>
</div>
</div>

</div>
