 
 <div class="container">
 
	<div class="col-md-8"><h2>Tariffe</h2>
		<table class="table table-bordered table-hover">


			<thead>

				<tr>
					<th  rowspan="2">Periodo</th>
					<th colspan="3">Appartamenti</th>
				</tr>
				<tr>
					<th>2 Posti</th>
					<th>4 Posti</th>
					<th>6 Posti</th>
				</tr>
			</thead>

			<tbody>
				<tr class="success">
					<td>15-Marzo - 30-Maggio</td>
					<td><i class="fa fa-eur"></i> 300</td>
					<td><i class="fa fa-eur"></i> 400</td>
					<td><i class="fa fa-eur"></i> 500</td>
				</tr>

			


				<tr class="active">
					<td>30-Maggio  - 27-Giugno</td>
					<td><i class="fa fa-eur"></i> 340</td>
					<td><i class="fa fa-eur"></i> 460</td>
					<td><i class="fa fa-eur"></i> 580</td>
				</tr>



				<tr class="info">
					<td>27-Giugno - 25-Luglio</td>
					<td><i class="fa fa-eur"></i> 400</td>
					<td><i class="fa fa-eur"></i> 500</td>
					<td><i class="fa fa-eur"></i> 660</td>
				</tr>


				<tr class="warning">
					<td>25-Luglio - 08-Agosto</td>
					<td><i class="fa fa-eur"></i> 480</td>
					<td><i class="fa fa-eur"></i> 660</td>
					<td><i class="fa fa-eur"></i> 800</td>
				</tr>


				<tr class="danger">
					<td>08-Agosto - 22-Agosto </td>
					<td><i class="fa fa-eur"></i> 550</td>
					<td><i class="fa fa-eur"></i> 780</td>
					<td><i class="fa fa-eur"></i> 1000</td>
				</tr>

				<tr class="warning">
					<td>22-Agosto - 29-Agosto</td>
					<td><i class="fa fa-eur"></i> 480</td>
					<td><i class="fa fa-eur"></i> 660</td>
					<td><i class="fa fa-eur"></i> 800</td>
				</tr>

				<tr class="active">
					<td>29-Agosto - 19-Settembre</td>
					<td><i class="fa fa-eur"></i> 340</td>
					<td><i class="fa fa-eur"></i> 460</td>
					<td><i class="fa fa-eur"></i> 580</td>
				</tr>

				<tr>
					<td>Altri periodi</td>
					<td><i class="fa fa-eur"></i> 180</td>
					<td><i class="fa fa-eur"></i> 250</td>
					<td><i class="fa fa-eur"></i> 360</td>
				</tr>

			</tbody>
		</table>



		<div class="well">
		<h2>Note</h2>
			<ul class="list-group" >
				<li class="list-group-item">Le locazioni vanno da sabato a sabato.</li>

				<li class="list-group-item">Check-in: dalle 14:00 alle 22:00</li>
				<li class="list-group-item">Check-out: dalle 7:00 alle 11:00</li>
				<li class="list-group-item">  Cauzione :La cauzione è di € 150,00 una tantum all'inizio del soggiorno e verrà restituita alla cessazione della locazione.</li>

				<li class="list-group-item">Sono ammessi animali di piccola taglia con supplemento di € 40,00 per la pulizia speciale</li>

				<li class="list-group-item">Disponibili convenzioni con ristorante: € 15,00 a persona.</li>
			</ul>
			
			



		</div>



	</div>

	<div class="col-md-4"><h2>Servizi degli appartamenti</h2>
		<ul class="list-group" >
			<li class="list-group-item">Televisione digitale</li>
 			<li class="list-group-item">Internet Wi-Fi free</li>
 			<li class="list-group-item">Posto auto scoperto</li>
			<li class="list-group-item">Tavolo da giardino</li>
			<li class="list-group-item">Sedie da giardino</li>
			<li class="list-group-item">Sedie a sdraio</li>
			<li class="list-group-item">Terrazza</li>
			<li class="list-group-item">Toilette</li>
			<li class="list-group-item">Box doccia</li>
			<li class="list-group-item">Bide'</li>
			<li class="list-group-item">Aria condizionata</li>
			<li class="list-group-item">Ferro da stiro</li>
			<li class="list-group-item">Lavatrice</li>
			<li class="list-group-item">Attrezzatura da cucina</li>
			<li class="list-group-item">Frigorifero </li>
			<li class="list-group-item">Mocka caffe'</li>
			<li class="list-group-item">Barbecue in muratura</li>
			<li class="list-group-item">Piscina</li>
			<li class="list-group-item">Prato attrezzato per il relax</li>
		</ul>	

<h2>Servizi supplemento</h2>
			<ul class="list-group" >
				<li class="list-group-item">Biancheria: a richiesta 10 euro a persona (comprende corredo letto e corredo bagno); </li>
				<li class="list-group-item">Biancheria: a richiesta 10 euro a persona (comprende corredo letto e corredo bagno)</li>
				<li class="list-group-item">Pulizia finale obbligatoria: 40 euro per bilocale 4 posti, 50 euro trilocale sei posti.</li>
				<li class="list-group-item">Pulizia giornaliera a richiesta (7 euro l'ora)</li>
			</ul>


	</div>
</div> 

</div> 

