  <div class="container">
      <h2>Foto Appartamenti</h2>
      <!-- slider container -->
       

 


    <ul rn-carousel rn-carousel-buffered rn-carousel-indicator="true" rn-carousel-control="true" class="page-container"  ng-class="thumbs">
        <li  ng-repeat="item in photos" ng-click="toggle(item)"  >
           <div class="img loading" lazy-loading-class="loading" lazy-loaded-class="loaded" 
              lazy-background="item.src">
                <div class="caption">{{ item.desc }}</div>
              </div>
        </li>
      </ul>

 

</div>
